@font-face {
    font-family: 'DOS';
    src: url('./assets/fonts/DOS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html * {
    font-family: 'DOS';
    font-size: 18px;
    letter-spacing: 0.2px;
    user-select: none;
    box-sizing: border-box;
}

img {
    background-color: #49384A;
    image-rendering: pixelated;
}